.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
}

.heroContent {
  max-width: 800px;
  padding: 1rem;
}

.heroTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.heroSubtitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.heroDescription {
  text-align: center;
  max-width: 600px;
  color: #b5b5b8;
  letter-spacing: 0.02em;
}

.heroButtons {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.heroButton2 {
  padding: 0.75rem 1.5rem;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.heroButton {
  padding: 0.75rem 1.5rem;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: #ffffff;
  color: #0f0f10;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}